form{
    position:relative;
    background-color: blueviolet;
    color:white;

}
.new{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
form{
    width: 1000px;
}
.prompt{
    margin-left:50px;

}
.input {
    margin-left: 80px;

  }
  